html{
	background: url(../images/bg.png);
	background-repeat: repeat-y;
	/*height: 100%;*/
	color: #fcfcb6;
	font-family: 'Mirosoft Yahei'
}
body{
	font-size: .65rem;
	position: relative;
}
input{
	-webkit-appearance:none;
	outline:none;
}
a,button,input,textarea{-webkit-tap-highlight-color: rgba(0,0,0,0;)}
a,button,input,textarea{
-webkit-tap-highlight-color: rgba(0,0,0,0;)
-webkit-user-modify:read-write-plaintext-only; 
}
ul{
	margin:0 auto;
}
p{1
	text-align: center;
}
.head-title{
	margin-top: 1.25rem;
	width: 14rem;
}
.head-title li{
	border-bottom: 2px solid #fcfcb6;
	line-height: 1.4rem;
}
/* .head-title li:nth-of-type(2) span{
	margin-right: -1.5rem;
} */
.head-title span{
	float: right;
}
.head-title span i{
	font-size: 1rem;
}
.now-share{
	text-align: center;
	margin: 1.25rem auto 1.55rem;
}
.now-share a{
	display: inline-block;
	width: 9.6rem;
	height: 1.85rem;
	line-height: 1.85rem;
	font-size: .85rem;
	background: #fff;
	color: #e56a6d;
	border-radius: 4px;
	text-align: center;
}
.titleImg{
	margin:0 auto;
	width: 13.95rem;
	height: 1.45rem;
}
.text-c{
	text-align: center;
}
.result-con {
	margin:1.1rem auto 1.75rem;	
}
.result-con p{
	text-align: center;	
	line-height: 1rem;
}
.prize-result{
	width: 13.5rem;
	margin:1.1rem auto;
}
.prize-result li:nth-of-type(1){
	border-top:none;
	border-bottom:none;
}
.prize-result li span:nth-of-type(3){
	float: right;
	margin-right: .5rem;
}
.prize-result li span:nth-of-type(1){
	margin-right: 1rem;
}
.prize-result li{
	border-top: 1px solid #ff7a7a;
	border-bottom: 1px solid #ff526e;
	line-height: 1.2rem;
}
.activity-rule{
	width: 14rem;
	margin-top: .75rem;
}
.activity-state{
	float: right;
	text-decoration: underline;
}
/*领取后页面*/
.recommend{
	width: 14rem;
	margin-top: 1.4rem;
	border-bottom: 1px solid #ff526e;
}
.recommend li{
	border-top: 1px solid #ff7a7a;
	border-bottom: 1px solid #ff526e;
	height: 5.8rem;
	padding: .75rem 0;
}
.recommend li:nth-of-type(1){
	border-top: none;
	height: 5.8rem;
	padding: 0 0 .75rem 0;
}
.recommend li img{
	width: 5.75rem;
	height: 5.75rem;
	float: left;
}
.redPacket{
	padding-top: 1.75rem;
}
.recommend-r{
	width: 7.5rem;
	float: right;
	color: #fff;
}
.recommend-r .title{
	font-size: 0.6rem;
}
.recommend-r .con{
	font-size: .5rem;
}
.recommend-r .price{
	font-size: .55rem;
	color: #fcfcb6;
}
/*领券弹窗*/
.bg{
	width: 100%;
	max-width: 16rem;
	height: 100%;
	background: #000;
	position: absolute;
	left: 0;
	top: 0;
	opacity: .5;
}
.take-picket{
	position: absolute;
	width: 13.95rem;
	border-radius: 4px;
	background: #fcfcb6;
	text-align: center;
	padding:1.8rem 0 2.3rem; 
	left: 50%;
	margin-left: -7rem;
}
.take-picket p{
	color: #de314d;
	font-size: .65rem;
}
.take-picket a{
	display: inline-block;
	background: #fc4f6b;
	color: #fcfcb6;
	width: 12.4rem;
	height: 2.3rem;
	line-height: 2.3rem;
	text-align: center;
	font-size: 1rem;
	border-radius: 6px;
}
.take-picket input{
	width: 12.3rem;
	height: 1.9rem;
	font-size: .75rem;
	text-align: center;
	border:1px solid #8c8c8c;
	border-radius: 2px;
	margin-bottom: 1.2rem;
	-moz-box-shadow:0px 2px 2px #999 inset;               /* For Firefox3.6+ */
	-webkit-box-shadow:0px 2px 2px #999 inset;            /* For Chrome5+, Safari5+ */
	box-shadow:0px 2px 2px #999 inset;                    /* For Latest Opera */
	margin-top: 1.4rem;
}
.take-picket,.bg{
	display: none;
}
/* .onekey{
	margin: 1.55rem auto 1.55rem;
}
.rightkey{
	padding: 1rem 0 1.25rem;
} */
/*message样式*/
#warp-message{
	max-width: 14rem;
	margin: 4.75rem auto 0;
}
.hint{
	line-height: 1rem;
	margin-bottom: 1.4rem;
}
.sended{
	margin: 1.5rem auto .5rem;
}
.new-psd{
	margin: 1.25rem 0 .5rem;
}
#btn {
    /*width: 1.8rem;*/
    height: 1.3rem;
    padding: 0 .2rem;
    background-color: rgb(214,214,214);
    position: absolute;
   	top: .2rem;
    right: .2rem; 
    color: #fff;
    border-radius: 4px;
}
.btn-finsh,.btn-verify{
	text-align: center;
	margin-top: 1.5rem;
}

.btn-finsh a,.btn-verify a{
	display: inline-block;
	background: #fc4f6b;
	width: 14rem;
	height: 1.85rem;
	line-height: 1.85rem;
	text-align: center;
	color: #fcfcb6;
	border-radius: 6px;
}
.import-code,.get-code{
	background: none;
    width: 10rem;
	color: #a9a9a9;
	font-size: .6rem;
	text-indent: .5rem;
}
.code{
	position: relative;
	display: block;
	background: #fff;
	width: 13.9rem;
	height: 1.6rem;
	line-height: 1.6rem;
	margin: 0 auto;
}
.look-psd{
	float: right;
	margin: .5rem .5rem 0 0 ;
}
.look-psd img{
	width: .8rem;
}

#warp-enter{
	max-width: 14rem;
	margin: 2rem auto 2.5rem;
}
#warp-enter .first-title{
	width: 12.1rem;
	font-size: .75rem;
	margin: 0 auto;
}